﻿@using MvcApp.Properties
@model MvcApp.ViewModels.User.UserFriendListViewModel
@{
    ViewBag.Title = Resources.my_friends;
}
<div class="page-header">
    <h1>
        @Resources.my_friends
    </h1>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div role="tabpanel">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active">
                    <a href="#user_friends" aria-controls="home" role="tab" data-toggle="tab">@Resources.friends</a>
                </li>
                <li role="presentation">
                    <a href="#user_subscribers" aria-controls="profile" role="tab" data-toggle="tab">@Resources.subscribers</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="user_friends">
                    @foreach (var friend in Model.Friends)
                    {
                        <div id="friend_@friend.UserId">
                            <hr />
                            <button id="remove_friend_@friend.UserId" data-friend-id="@friend.UserId" class="close pull-right">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3>
                                <a href="@Url.Action("Info", "User", new { id = friend.UserId })" target="_blank">@friend.UserName</a>
                            </h3>
                        </div>
                    }
                </div>
                <div role="tabpanel" class="tab-pane fade" id="user_subscribers">
                    @foreach (var friend in Model.Subscribers)
                    {
                        <div>
                            <hr />
                            <h3>
                                <a href="@Url.Action("Info", "User", new { id = friend.UserId })">@friend.UserName</a>
                            </h3>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("button[id^='remove_friend_']").click(function () {
                if (!confirm("@Resources.delete_confirmation")) {
                    return;
                }
                var friendId = $(this).data("friend-id");
                $.post("@Url.Action("ToggleState", "Friend")", {
                    id: friendId
                }, function () {
                    $("#friend_" + friendId).remove();
                });
            });
        });
    </script>
}