﻿@using MvcApp.Properties
@model MvcApp.ViewModels.Account.AccountChangePasswordViewModel
@{
    ViewBag.Title = Resources.change_password;
}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new
                {
                    @class = "form-horizontal"
                }))
                {
                    <fieldset>
                        <legend>@Resources.change_password</legend>
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.ValidationSummary(true, String.Empty, new
                            {
                                @class = "text-danger"
                            })
                        </div>
                        <div class="form-group space-from-above">
                            @Html.LabelFor(m => m.OldPassword, new
                            {
                                @class = "col-md-4 control-label"
                            })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.OldPassword, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(m => m.OldPassword, String.Empty, new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group space-from-above">
                            @Html.LabelFor(m => m.NewPassword, new
                            {
                                @class = "col-md-4 control-label"
                            })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.NewPassword, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(m => m.NewPassword, String.Empty, new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group space-from-above">
                            @Html.LabelFor(m => m.ConfirmNewPassword, new
                            {
                                @class = "col-md-4 control-label"
                            })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.ConfirmNewPassword, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(m => m.ConfirmNewPassword, String.Empty, new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group space-from-above">
                            <div class="col-md-offset-4 col-md-6">
                                <button type="submit" class="btn btn-primary">@Resources.save</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>