﻿@using MvcApp.Properties
@model MvcApp.ViewModels.Account.AccountLoginViewModel
@{
    ViewBag.Title = Resources.login;
}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal"}))
                {
                    <fieldset>
                        <legend>@Resources.login</legend>
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.ValidationSummary(true, String.Empty, new {@class = "text-danger"})
                        </div>
                        <div class="form-group space-from-above">
                            @Html.LabelFor(m => m.Email, new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Email, String.Empty, new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group space-from-above">
                            @Html.LabelFor(m => m.Password, new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Password, String.Empty, new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group space-from-above">
                            <div class="col-md-offset-4 col-md-6">
                                <div class="checkbox-inline">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group space-from-above">
                            <div class="col-md-offset-4 col-md-6">
                                <button type="submit" class="btn btn-primary">@Resources.login</button>
                                &nbsp;
                                <a href="@Url.Action("ForgotPassword", "Account")">@Resources.forgot_password</a>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>