﻿@using MvcApp.Properties
@model MvcApp.ViewModels.Account.AccountResetPasswordViewModel
@{
    ViewBag.Title = Resources.password_reset;
}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
                {
                    <fieldset>
                        <legend>@Resources.password_reset</legend>
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Token)
                        <div class="form-group">
                            @Html.ValidationSummary(true, String.Empty, new {@class = "text-danger"})
                        </div>
                        <div class="form-group space-from-above">
                            @Html.LabelFor(m => m.Email, new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Email, String.Empty, new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group space-from-above">
                            @Html.LabelFor(m => m.Password, new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Password, String.Empty, new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group space-from-above">
                            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, String.Empty, new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group space-from-above">
                            <div class="col-md-offset-4 col-md-6">
                                <button type="submit" class="btn btn-primary">@Resources._continue</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>