﻿@using System.Web.Optimization
@using Microsoft.AspNet.Identity
@using MvcApp.Properties
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.KeyWords"/>
    <meta name="description" content="@ViewBag.Description"/>
    @Styles.Render("~/appcss")
    <style type="text/css">
        body {
            padding: 100px 10px 10px;
            /*background-image: url("/Content/bg.png");*/
        }

        body * { outline: none !important; }

        #template { display: none; }

        .space-from-above { padding-top: 10px; }
    </style>
    @RenderSection("styles", false)
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Search", "Publication")">@Resources.search</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("New", "Publication")">@Resources.new_publication</a>
                    </li>
                }
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @User.Identity.Name<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="@Url.Action("Info", "User", new {id = User.Identity.GetUserId()})">
                                    @Resources.view_profile
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("List", "Friend")">
                                    @Resources.my_friends
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Edit", "User")">@Resources.edit_profile</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditPhoto", "User")">@Resources.edit_photo</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ChangePassword", "Account")">@Resources.change_password</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Logout", "Account")">@Resources.logout</a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")">@Resources.login</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Register", "Account")">@Resources.registration</a>
                    </li>
                }
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input id="users_search_text" type="text" class="form-control" placeholder="@Resources.users_search">
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    @RenderBody()
</div>
@Scripts.Render("~/appjs")
<script type="text/javascript">
    $(document).ready(function() {
        $("#users_search_text").typeahead({
            items: 10,
            source: function(query, process) {
                return $.post("/User/Search", {
                    query: query
                }, function(response) {
                    process(response);
                });
            },
            displayText: function(item) {
                return item.UserName;
            },
            afterSelect: function(item) {
                if (item.UserId) {
                    window.location.href = "/User/Info/" + item.UserId;
                }
            }
        });
    });
</script>
@if (Request.IsAuthenticated)
{
    <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
    @Scripts.Render("~/signalrjs")
    <script type="text/javascript">
        $(document).ready(function() {
            new SignalrController("@User.Identity.Name", "@Resources.goto_chat", "@Resources.close");
        });
    </script>
}
@RenderSection("scripts", false)
@RenderSection("template", false)
</body>
</html>