﻿@using System.Web.Optimization
@using MvcApp.Properties
@{
    ViewBag.Title = Resources.chat;
}
@section Styles {
    <style type="text/css">
        
    </style>
}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="input-group">
            <input id="message_text" type="text" class="form-control" placeholder="@(Resources.message + " - " + ViewBag.UserName)">
            <span class="input-group-btn">
                <button id="send_message_btn" class="btn btn-success" type="button" data-loading-text="@Resources.loading">@Resources.send</button>
            </span>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div id="messages"></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/chatjs")
    <script>
        $(document).ready(function() {
            new ChatController("@ViewBag.UserName");
        });
    </script>
}
@section Template {
    <script id="message_template" type="text/template">
        <div>
            <hr />
            <div>
                <div>
                    <b>
                        <small>
                            <a href="@Url.Action("Info", "User")/{{AuthorId}}" target="_blank">{{AuthorName}}</a>
                        </small>
                    </b>
                    &nbsp;
                </div>
                <div>
                    <blockquote>
                        <small class="comment">{{Text}}
                        </small>
                    </blockquote>
                </div>
            </div>
        </div>
    </script>
}