﻿@using MvcApp.Properties
@model MvcApp.ViewModels.User.UserEditPhotoInfo
@{
    ViewBag.Title = Resources.edit_photo;
}
@section Styles {
    <style type="text/css">
        #avatar {
            height: 200px;
            width: 200px;
        }
    </style>
}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="text-center">
                    <h3>@Resources.edit_photo</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <input id="file_input" type="file" class="hidden"/>
                    @using (Html.BeginForm("EditPhoto", "User", FormMethod.Post, new
                    {
                        id = "image_form"
                    }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Image)
                        @Html.HiddenFor(m => m.IsBase64)
                        @Html.HiddenFor(m => m.HasChanged)
                        <div class="form-group text-center">
                            <img id="avatar" class="img-thumbnail" alt="" src="@Html.ValueFor(m => m.Image)"/>
                            <button id="image_delete_btn" type="button" class="close pull-right">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="form-group space-from-above">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button id="image_select_btn" type="button" class="btn btn-danger">@Resources._select</button>
                                </div>
                                @Html.TextBoxFor(m => m.ImageUrl, new
                                {
                                    @class = "form-control",
                                    placeholder = "URL изображения"
                                })
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-success">@Resources.save</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            var setImage = function(image, isBase64) {
                $("#@(Html.IdFor(m => m.Image))").val(image);
                $("#@(Html.IdFor(m => m.HasChanged))").val(1);
                $("#@(Html.IdFor(m => m.IsBase64))").val(isBase64);
                $("#avatar").attr("src", image);
            };
            $("#file_input").on("change", function(e) {
                var file = e.target.files[0];
                if (file.type.indexOf("image") < 0 || file.size > 2 * 1024 * 1024) {
                    return;
                }
                var reader = new FileReader();
                reader.onload = function(data) {
                    setImage(data.target.result, true);
                }
                reader.readAsDataURL(file);
            });
            $("#@(Html.IdFor(m => m.ImageUrl))").bind("input", function() {
                if ($("#image_form").validate().valid()) {
                    setImage($(this).val(), false);
                };
            });
            $("#image_select_btn").click(function() {
                $("#file_input").click();
            });
            $("#image_delete_btn").click(function() {
                setImage("", false);
            });
        });
    </script>
}