﻿@using MvcApp.Data.Models
@using MvcApp.Properties
@model MvcApp.ViewModels.User.UserEditViewModel
@{
    ViewBag.Title = Resources.edit_profile;
}
@section Styles {
    <style type="text/css">
        #@(Html.IdFor(m => m.Info)) {
            height: 150px;
            resize: none;
        }

        .datepicker { margin: 0 auto; }
    </style>
}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="text-center">
                    <h3>@Resources.edit_profile</h3>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Edit", "User", FormMethod.Post, new
                {
                    @class = "form-horizontal"
                }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group space-from-above">
                        @Html.ValidationSummary(true, String.Empty, new
                        {
                            @class = "text-danger"
                        })
                    </div>
                    <div class="form-group space-from-above">
                        @Html.LabelFor(m => m.FirstName, new
                        {
                            @class = "col-md-4 control-label"
                        })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.FirstName, new
                            {
                                @class = "form-control"
                            })
                            @Html.ValidationMessageFor(m => m.FirstName, String.Empty, new
                            {
                                @class = "text-danger"
                            })
                        </div>
                    </div>
                    <div class="form-group space-from-above">
                        @Html.LabelFor(m => m.LastName, new
                        {
                            @class = "col-md-4 control-label"
                        })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.LastName, new
                            {
                                @class = "form-control"
                            })
                            @Html.ValidationMessageFor(m => m.LastName, String.Empty, new
                            {
                                @class = "text-danger"
                            })
                        </div>
                    </div>
                    <div class="form-group space-from-above">
                        @Html.LabelFor(m => m.Sex, new
                        {
                            @class = "col-md-4 control-label"
                        })
                        <div class="col-md-6">
                            <div class="text-center">
                                <div class="radio-inline">
                                    @Html.RadioButtonFor(m => m.Sex, UserSex.Male)
                                    @Html.Label("М")
                                </div>
                                <div class="radio-inline">
                                    @Html.RadioButtonFor(m => m.Sex, UserSex.Female)
                                    @Html.Label("Ж")
                                </div>
                                <div class="radio-inline">
                                    @Html.RadioButtonFor(m => m.Sex, UserSex.NotSpecified)
                                    @Html.Label("Не указан")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group space-from-above">
                        @Html.LabelFor(m => m.BirthDate, new
                        {
                            @class = "col-md-4 control-label"
                        })

                        <div class="col-md-6">
                            @Html.HiddenFor(m => m.BirthDate)
                            <div id="datepicker" class="text-center" data-date="@Html.ValueFor(m => m.BirthDate)"></div>
                        </div>
                    </div>
                    <div class="form-group space-from-above">
                        @Html.LabelFor(m => m.Info, new
                        {
                            @class = "col-md-4 control-label"
                        })
                        <div class="col-md-6">
                            @Html.TextAreaFor(m => m.Info, new
                            {
                                @class = "form-control"
                            })
                        </div>
                    </div>
                    <div class="form-group space-from-above">
                        <div class="col-md-offset-4 col-md-6">
                            <button type="submit" class="btn btn-primary">@Resources.save</button>
                            &nbsp;
                            <button id="clear_date_btn" type="button" class="btn btn-link">@Resources.clear_date</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#datepicker").datepicker({
                language: "ru",
                todayHighlight: true,
                endDate: new Date()
            }).on("changeDate", function(e) {
                $("#@(Html.IdFor(m => m.BirthDate))").val(e.format());
            });
            $("#clear_date_btn").click(function() {
                $("#@(Html.IdFor(m => m.BirthDate))").val("");
                $("#datepicker").datepicker("update", new Date());
            });
        });
    </script>
}