﻿@using MvcApp.Properties
@model MvcApp.ViewModels.User.UserProfileViewModel
@{
    ViewBag.Title = Resources.profile;
}
@section Styles {
    <style type="text/css">
        #avatar {
            height: 200px;
            width: 200px;
        }
    </style>
}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3">
                    <img id="avatar" class="img-thumbnail" alt="" src="@Html.ValueFor(m => m.Photo)"/>
                </div>
                <div class="col-md-9">
                    <h2 class="page-header">@Model.Email</h2>
                    <h3>
                        @Resources.rating - @Model.Rating
                    </h3>
                    @if (Request.IsAuthenticated && !Model.IsOwner)
                    {
                        <div class="text-right">
                            <a href="@Url.Action("Chat", new{id = Model.Id})" class="btn btn-default">@Resources.chat</a>
                            <button id="toggle_friend_state_btn" class="btn" data-user-id="@Model.Id"></button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation">
                        <a href="@Url.Action("UserList", "Publication", new {id = Model.Id})">
                            <b>
                                @Resources.publications <span class="label label-success">@Model.PublicationsCount</span>
                            </b>
                            
                        </a>
                </li>
                <li role="presentation">
                    <a href="@Url.Action("UserFavList", "Publication", new {id = Model.Id})">
                        <b>
                            @Resources.favorites <span class="label label-success">@Model.FavoritesCount</span>
                        </b>
                    </a>
                </li>
            </ul>
            <div>
                @foreach (var dataPair in Model.DataPairs)
                {
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <strong>@dataPair.Title</strong>
                        </div>
                        <div class="col-md-9">
                            @dataPair.Value
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (Request.IsAuthenticated && !Model.IsOwner)
{
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function() {
                var updateFriendState = function(isFriend) {
                    var toggleBtn = $("#toggle_friend_state_btn");
                    toggleBtn.removeClass("btn-danger").removeClass("btn-success").
                        addClass(isFriend ? "btn-danger" : "btn-success").
                        text(isFriend ? "@Resources.remove_from_friends" : "@Resources.add_to_friends");
                };
                $("#toggle_friend_state_btn").click(function() {
                    var userId = $(this).data("user-id");
                    $.post("@Url.Action("ToggleState", "Friend")", {
                        id: userId
                    }, function(response) {
                        updateFriendState(response);
                    });
                });
                updateFriendState(@(Model.IsFriend ? 1 : 0));
            });
        </script>
    }
}