﻿@using MvcApp.Properties
@model MvcApp.ViewModels.Publication.PublicationEditViewModel
@{
    ViewBag.Title = Resources.publication;
}
@section Styles {
    <style type="text/css">
        #@(Html.IdFor(m => m.Description)) {
            height: 100px;
            resize: none;
        }

        #@(Html.IdFor(m => m.Content)) { display: none; }

        .bootstrap-tagsinput { width: 100%; }

        #publication_content {
            height: 500px;
            max-height: 500px;
            overflow: auto;
        }

        #publication_content img { max-width: 100%; }
    </style>
}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="text-center">
                    <h3>@Resources.publication</h3>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Save", "Publication", FormMethod.Post, new {@class = "form-horizontal"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        @Html.ValidationSummary(true, String.Empty, new {@class = "text-danger"})
                    </div>
                    <div class="form-group space-from-above">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.LabelFor(m => m.Title, new {@class = "control-label"})
                            @Html.TextBoxFor(m => m.Title, new {@class = "form-control", maxlength = 50})
                            @Html.ValidationMessageFor(m => m.Title, String.Empty, new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group space-from-above">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.LabelFor(m => m.Description, new {@class = "control-label"})
                            @Html.TextAreaFor(m => m.Description, new {@class = "form-control", maxlength = 200})
                            @Html.ValidationMessageFor(m => m.Description, String.Empty, new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group space-from-above">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.LabelFor(m => m.KeyWords, new {@class = "control-label"})
                            @Html.TextBoxFor(m => m.KeyWords, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.KeyWords, String.Empty, new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group space-from-above">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.LabelFor(m => m.Content, new {@class = "control-label"})
                            @Html.TextAreaFor(m => m.Content, new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="btn-group" role="group" aria-label="">
                                <button type="button" class="btn btn-default glyphicon glyphicon-bold" data-editor-command-type="asis" data-editor-command="bold"></button>
                                <button type="button" class="btn btn-default glyphicon glyphicon-italic" data-editor-command-type="asis" data-editor-command="italic"></button>
                            </div>
                            <div class="btn-group" role="group" aria-label="">
                                <button type="button" class="btn btn-default glyphicon glyphicon-align-left" data-editor-command-type="asis" data-editor-command="justifyLeft"></button>
                                <button type="button" class="btn btn-default glyphicon glyphicon-align-center" data-editor-command-type="asis" data-editor-command="justifyCenter"></button>
                                <button type="button" class="btn btn-default glyphicon glyphicon-align-right" data-editor-command-type="asis" data-editor-command="justifyRight"></button>
                                <button type="button" class="btn btn-default glyphicon glyphicon-align-justify" data-editor-command-type="asis" data-editor-command="justifyFull"></button>
                            </div>
                            <div class="btn-group" role="group" aria-label="">
                                <button type="button" class="btn btn-default glyphicon glyphicon-indent-left" data-editor-command-type="asis" data-editor-command="indent"></button>
                                <button type="button" class="btn btn-default glyphicon glyphicon-indent-right" data-editor-command-type="asis" data-editor-command="outdent"></button>
                            </div>
                            <div class="btn-group" role="group" aria-label="">
                                <button type="button" class="btn btn-default dropdown-toggle glyphicon glyphicon-header" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript:void(0)" data-editor-command-type="format" data-editor-command="h1">1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-editor-command-type="format" data-editor-command="h2">2</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-editor-command-type="format" data-editor-command="h3">3</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-editor-command-type="format" data-editor-command="h4">4</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-editor-command-type="format" data-editor-command="h5">5</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-editor-command-type="format" data-editor-command="h6">6</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group" role="group" aria-label="">
                                <button type="button" class="btn btn-default dropdown-toggle glyphicon glyphicon-list" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript:void(0)" data-editor-command-type="asis" data-editor-command="insertUnorderedList">UL</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-editor-command-type="asis" data-editor-command="insertOrderedList">OL</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group" role="group" aria-label="">
                                <button type="button" class="btn btn-default glyphicon glyphicon-superscript" data-editor-command-type="asis" data-editor-command="superscript"></button>
                                <button type="button" class="btn btn-default glyphicon glyphicon-subscript" data-editor-command-type="asis" data-editor-command="subscript"></button>
                            </div>
                            <div class="btn-group" role="group" aria-label="">
                                <button type="button" class="btn btn-default glyphicon glyphicon-link" data-editor-command-type="dialog" data-editor-command="createlink"></button>
                                <button type="button" class="btn btn-default glyphicon glyphicon-picture" data-editor-command-type="dialog" data-editor-command="insertImage"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <div id="publication_content" class="form-control" contenteditable="">@Html.Raw(Model != null ? Model.Content : String.Empty)</div>
                        </div>
                    </div>
                    <div class="form-group space-from-above">
                        <div class="col-md-offset-5 col-md-7">
                            <button type="submit" class="btn btn-primary btn-lg">@Resources.save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#@(Html.IdFor(m => m.Title))").maxlength({
                alwaysShow: true
            });
            $("#@(Html.IdFor(m => m.Description))").maxlength({
                alwaysShow: true
            });
            $("#@(Html.IdFor(m => m.KeyWords))").tagsinput({
                maxTags: 5,
                tagClass: function() {
                    return "label label-primary";
                }
            });
            var updateContent = function() {
                $("#@(Html.IdFor(m => m.Content))").text($("#publication_content").html());
            };
            $("*[data-editor-command]").click(function() {
                $("#publication_content").focus();
                var type = $(this).data("editor-command-type");
                var command = $(this).data("editor-command");
                if (type === "asis") {
                    document.execCommand(command, false, null);
                } else if (type === "format") {
                    document.execCommand("formatBlock", false, command);
                } else if (type === "dialog") {
                    var link = prompt("@Resources.enter_url").trim();
                    if (!link.length) {
                        return;
                    }
                    document.execCommand(command, false, link);
                }
                updateContent();
            });
            $("#publication_content").bind("blur keyup paste copy cut mouseup", function() {
                updateContent();
            });
        });
    </script>
}