﻿@using MvcApp.Properties
@using MvcApp.ViewModels.Publication
@using PagedList
@using PagedList.Mvc
@model PublicationSearchViewModel
@{
    ViewBag.Title = Resources.search;

    var publications = (IPagedList<PublicationListEntryViewModel>) ViewBag.Publications;
}
@section Styles {
    <style type="text/css">
        .form-inline > * {
            margin: 5px;
        }

    </style>
}
<div class="page-header">
    <h1>@Resources.search</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        @using (Html.BeginForm("Search", "Publication", FormMethod.Get, new {@class = "form-inline"}))
        {
            <input type="hidden" name="Page" value="1"/>
            <div class="form-group">
                @Html.TextBoxFor(m => m.SearchText, new {@class = "form-control", placeholder = Resources.search_by_tag})
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.SortKey, new List<SelectListItem>
                {
                    new SelectListItem {Text = Resources.no_sort_key, Value = String.Empty},
                    new SelectListItem {Text = Resources.rating_sort_key, Value = "rating"},
                    new SelectListItem {Text = Resources.date_sort_key, Value = "date"}
                }, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label class="radio-inline control-label">
                    @Html.RadioButtonFor(m => m.SortDir, 1)
                    По возрастанию
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.SortDir, -1)
                    По убыванию
                </label>
            </div>
            <button type="submit" class="btn btn-default">@Resources.search</button>
        }
    </div>
    <div class="panel-body">
        @if (publications.Any())
        {
            foreach (var publication in publications)
            {
                <hr/>
                <div>
                    <h3>
                        @publication.Title
                        &nbsp;
                        &mdash;
                        &nbsp;
                        <small>
                            <span class="glyphicon glyphicon-comment"></span>
                        </small>
                        <span class="label label-success">@publication.CommentsCount</span>
                    </h3>
                    <div>
                        <b>
                            <a href="@Url.Action("Info", "User", new {id = publication.AuthorId})">
                                @publication.AuthorName</a>
                        </b>
                        &nbsp;
                        <small>
                            @publication.CreationDate
                        </small>
                    </div>

                    <h3>
                        <small>
                            @publication.Description
                        </small>
                    </h3>
                    <div>
                        <a href="@Url.Action("Show", "Publication", new {id = publication.Id})" class="btn btn-default">
                            @Resources.more_info
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <h2>@Resources.publications_not_found</h2>
        }
    </div>
</div>
<div class="text-center">
    @Html.PagedListPager(publications, page => Url.Action("Search", new PublicationSearchViewModel {SearchText = Model.SearchText, SortKey = Model.SortKey, SortDir = Model.SortDir, Page = page}))
</div>
