﻿@using System.Web.Optimization
@using MvcApp.Properties
@using MvcApp.ViewModels.Publication
@model MvcApp.ViewModels.Publication.PublicationViewModel
@{
    ViewBag.Title = Model.Title;

    ViewBag.KeyWords = String.Join(", ", Model.KeyWords);

    ViewBag.Description = Model.Description;
}
@section Styles {
    <style type="text/css">
        #comment_text {
            height: 150px;
            resize: none;
        }

        #send_comment_btn, #reload_comments_btn { width: 150px; }

        .avatar {
            width: 50px;
            height: 50px;
        }

        .comment { display: inline; }
    </style>
}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="page-header">
            <h1>@Html.ValueFor(m => m.Title)</h1>
            <h4>
                <b>
                    <a href="@Url.Action("Info", "User", new {id = Model.UserId})">
                        @Html.ValueFor(m => m.UserName)</a>
                </b>
            </h4>
            <h4>
                <small>
                    @Html.ValueFor(v => v.CreationDate)
                </small>
            </h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        @if (Request.IsAuthenticated && !Model.IsAuthor)
        {
            <button id="toggle_favorite_btn" type="button" class="btn btn-link glyphicon glyphicon-star-empty" data-toggle="tooltip" data-placement="top" title=""></button>
            @:&mdash;
            <button id="toggle_rating_btn" type="button" class="btn btn-link glyphicon"></button>
        }
        else
        {
            <span class="btn btn-link glyphicon glyphicon-thumbs-up"></span>
        }
        <span id="rating_value" class="badge">@Html.ValueFor(m => m.Rating.Count)</span>
        &nbsp;
        &mdash;
        <span class="btn btn-link glyphicon glyphicon-eye-open"></span>
        <span class="badge">@Html.ValueFor(m => m.Views)</span>
        &nbsp;
        &mdash;
        &nbsp;
        @foreach (var tag in Model.KeyWords)
        {
            <a href="@Url.Action("Search", "Publication", new PublicationSearchViewModel {SearchText = tag})" class="label label-primary">@tag</a>
        }
    </div>
</div>
@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="space-from-above">
                <textarea id="comment_text" class="form-control" maxlength="1000" placeholder="@Resources.comment"></textarea>
            </div>
            <div class="text-center space-from-above">
                <button id="send_comment_btn" class="btn btn-success" type="button">@Resources.send</button>
                <button id="reload_comments_btn" class="btn btn-default" type="button" data-toggle="tooltip" data-placement="top" title="" data-loading-text="@Resources.loading">@Resources.refresh</button>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div id="comments"></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/publicationjs")
    <script type="text/javascript">
        $(document).ready(function() {
            new PublicationController(@(Model.Id), @(Model.IsFavourite ? 1 : 0), @(Model.Rating.Rated ? 1 : 0), @(Model.Rating.Count), @(Request.IsAuthenticated ? 1 : 0), @(Model.IsAuthor ? 1 : 0));
        });
    </script>
}
@section Template {
    <script id="comment_template" type="text/template">
        <div id="comment_{{Id}}">
            <hr />
            <div>
                {{#Removable}}
                    <a href="javascript:void(0)" class="close pull-right" tabindex="0" role="button" onclick="publicationController.confirmCommentDeletion(this, '{{Id}}')">
                        <span aria-hidden="true">&times;</span>
                    </a>
                {{/Removable}}
            <div>
                <b>
                    <small>
                        <a href="@Url.Action("Info", "User")/{{AuthorId}}" target="_blank">{{AuthorName}}</a>
                    </small>
                </b>
                &nbsp;
            <small>
                <span>{{CreationDate}}</span>
            </small>
            </div>
                <div>
                    <blockquote>
                        <img class="img-thumbnail avatar" alt="" src="{{AuthorPhoto}}" />
                        <small class="comment">{{Text}}
                        </small>
                    </blockquote>
                </div>
            </div>
        </div>
    </script>
    @if (Request.IsAuthenticated)
    {
        <script id="comment_delete_confirmation_template" type="text/template">
            <div>
                @Resources.delete_confirmation
            </div>
            <hr />
            <div class="text-center">
                <button class="btn btn-primary" onclick="publicationController.deleteComment('{{id}}')">@Resources.yes</button>
            </div>
        </script>
    }
}