﻿@using MvcApp.Properties
@model MvcApp.ViewModels.Publication.PublicationUserListViewModel
@{
    ViewBag.Title = Resources.publications;
}
<div class="page-header">
    <h1>
        <a href="@Url.Action("Info", "User", new {id = Model.UserId})">@Model.UserName</a>
        &nbsp;
        @Resources.favorites
    </h1>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        @foreach (var publication in Model.Publications)
        {
            <div id="fav_@publication.Id">
                <hr/>
                @if (Model.IsOwner)
                {
                    <button id="remove_fav_@publication.Id" data-fav-id="@publication.Id" class="close pull-right">
                        <span aria-hidden="true">&times;</span>
                    </button>
                }
                <div>

                    <h3>
                        @publication.Title
                    </h3>
                    <div>
                        <div>
                            <b>
                                <a href="@Url.Action("Info", "User", new {id = publication.AuthorId})" target="_blank">
                                    @publication.AuthorName</a>
                            </b>
                            &nbsp;
                            <small>
                                @publication.CreationDate
                            </small>
                        </div>
                    </div>
                    <h3>
                        <small>
                            @publication.Description
                        </small>
                    </h3>
                    <div>
                        <a href="@Url.Action("Show", "Publication", new {id = publication.Id})" class="btn btn-default">
                            @Resources.more_info
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@if (Model.IsOwner)
{
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("button[id^='remove_fav_']").click(function () {
                if (!confirm("@Resources.delete_confirmation")) {
                    return;
                }
                var favId = $(this).data("fav-id");
                $.post("@Url.Action("ToggleFavouriteState", "Publication")", {
                    id: favId
                }, function() {
                    $("#fav_" + favId).remove();
                });
            });
        });
    </script>
}}