﻿@using MvcApp.Properties
@model MvcApp.ViewModels.Publication.PublicationUserListViewModel
@{
    ViewBag.Title = Resources.publications;
}
<div class="page-header">
    <h1>
        <a href="@Url.Action("Info", "User", new { id = Model.UserId })">
            @Model.UserName</a>
        &nbsp;
        @Resources.publications
    </h1>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        @foreach (var publication in Model.Publications)
        {
            <div id="publication_@publication.Id">
                <hr />
                <div>
                    <h3>
                        @publication.Title

                    </h3>
                    <div>
                        <small>
                            @publication.CreationDate
                        </small>
                    </div>

                    <h3>
                        <small>
                            @publication.Description
                        </small>
                    </h3>
                    <div>
                        <a href="@Url.Action("Show", "Publication", new { id = publication.Id })" class="btn btn-default">
                            @Resources.more_info
                        </a>
                        @if (Model.IsOwner)
                        {
                            <a href="@Url.Action("Edit", "Publication", new { id = publication.Id })" class="btn btn-warning">
                                @Resources.edit
                            </a>
                            <button id="delete_publication_@publication.Id" data-publication-id="@publication.Id" class="btn btn-danger">
                                @Resources.delete
                            </button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("button[id^='delete_publication_']").click(function () {
                if (!confirm("@Resources.delete_confirmation")) {
                    return;
                }
                var publicationId = $(this).data("publication-id");
                $.post("@Url.Action("Delete", "Publication")", {
                    id: publicationId
                }, function () {
                    $("#publication_" + publicationId).remove();
                });
            });
        });
    </script>
}